.Loading {
    padding: 4px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Spinner {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    border-top: 2px solid rgb(77, 35, 77);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }